.Nav {
    display: flex;
    background-color: #fff;
    flex-direction: row-reverse;
    padding: 0.3rem;
}

.Nav-btn {
    margin-right: 1rem;
    text-decoration: none;
    color: rgb(30,30,30);
}

h4 {
    margin: 0;
    margin-right: auto;
    margin-left: 1rem;
}